<!DOCTYPE html>
<html data-theme="dark" data-webp="true" lang="en">
<link rel="stylesheet" href="/static/pico.min.css" />
<link rel="stylesheet" href="/static/css/themes/lime.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css"
  type="text/css">
<link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon.png">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta property="og:url" content="https://satspaylink.vercel.com" />
  <meta charset="utf-8">  
  <title>{{ title }}</title>
</head>

<body>
  <!-- Nav -->
  <nav class="container-fluid" style="border-bottom-style:solid; border-color: rgb(66, 66, 66); border-width: 0.1px">
  <ul>
      <a href="/">
        <img src="/static/images/bitkarrot_256.jpg" height="64" width="64"
        alt="Bitkarrot" />
      </a>
  </ul>
    <ul>
      <li>
        <a class="secondary" href="https://github.com/bitkarrot">Github</a>
      </li>
      <li>
        <a class="secondary" href="https://iris.to/bitkarrot">Nostr</a>
      </li>
      <li>
        <a class="secondary" href="https://bitkarrot.substack.com">Substack</a>
      </li>
    </ul>
  </nav><!-- ./ Nav -->

  <main class="container center-sm">
    <hgroup>
        <h1 style="color:#A5D601">
          Thank you for booking a session with Bitkarrot!
        </h1>
    </hgroup>
    <section id="content">
          <div align="center">
            <img src="/static/images/thank-you.png"/>            
          </div>
    </section>
    <footer>
      Built with <a href="https://picocss.com"> Pico </a> • <a href="https://github.com/bitkarrot/satspaysession">
        Source </a>
    </footer>
  </main>
</body>

</html>
